/* General body styles */
body{
    font-family: Arial, Helvetica, sans-serif; /* Sets the font family for the entire page */ 
    margin: 0; /* Removes default margin around the body */
    padding: 0; /* Removes default padding around the body */
    box-sizing: border-box; /* Includes padding and border in element's total width and height */
    background-color: #beeaee; /* Sets the background color of the page */
    overflow-x: hidden; /* Hides horizontal overflow */
}

/* Header styling */
.header{
    display: flex; /* Uses flexbox layout for the header */
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Vertically centers items */
    padding: 10px 10px; /* Increase padding for more space */
    height: 100px; /* Sets the height of the header */
    text-align: center; /* Centers text */
    background-color: #007bff; /* Sets the background color of the header */
}

/* Logo container in the header */
.logo-item {
    display: flex; /* Uses flexbox layout for the logo */
    align-items: center; /* Vertically centers items */   
    justify-content: center; /* Horizontally centers items */
    flex-grow: 1; /* Makes the logo take up the remaining space */
    
}

/* Logo wrapper with border and padding */
.logo-wrapper{
    display: flex; /* Uses flexbox layout for the logo wrapper */
    align-items: center; /* Vertically centers items */
    border: 5px solid black;  /* Adds a border around the logo */
    padding-right: 7px; /* Adds padding to the right of the logo */
    padding-left: 7px; /* Adds padding to the left of the logo */
    background-color: #013c7b; /* Sets the background color of the logo wrapper */
}

/* Logo image styling */
.logo{
    margin-right: 10px; /* Adds space between the logo and text */
    max-height: 30px; /* Sets the maximum height of the logo */
}

/* Header logo link styling */
.logo-item h1 a{
    text-decoration: none; /* Removes the underline from the text */
    font-size: 30px; /* Sets the font size of the text */
    display: flex; /* Uses flexbox layout for the text */
    align-items: center; /* Vertically centers items */
    color: white; /* Sets the color of the text */
}


/* Top-right positioned elements */
.top-right{
    position: absolute; /* Positions the element absolutely within its containing element */  
    top: 0; /* Positions the element at the top of its containing element */   
    right: 0; /* Positions the element to the right of its containing element */ 
    padding: 10px; /* Increase padding for more space */
    margin-top: 20px; /* Increase margin for more space */
    border: 2px solid black; /* Adds a border around the element */
    color: white; /* Sets the color of the element */
    background-color: #3574b7; /* Sets the background color of the element */
}

/* Top-left positioned elements */
.top-left{
    position: absolute; /* Positions the element absolutely within its containing element */
    top: 0; /* Positions the element at the top of its containing element */
    left: 0; /* Positions the element to the left of its containing element */
    padding: 10px; /* Increase padding for more space */
    margin-top: 20px; /* Increase margin for more space */
    border: 2px solid black; /* Adds a border around the element */
    color: white; /* Sets the color of the element */
    background-color: #3574b7; /* Sets the background color of the element */
}

/* For the phone and email icons */
.phone-icon, .email-icon {
    width: 20px; /* Reduce the size of the icons */
    height: auto; /* Maintain the aspect ratio of the icons */
    margin-right: 10px; /* Space between icon and text */
}

/* Navigation buttons styling */
.nav-buttons{
    display: flex; /* Uses flexbox layout for the navigation buttons */
    gap: 2px; /* Adds spacing between the buttons */
    display: flex; /* Uses flexbox layout for the navigation buttons */
    justify-content: flex-end; /* Aligns buttons to the right */
    background-color: #007bff; /* Sets the background color of the navigation buttons */
}

.nav-buttons button{
    background-color: rgb(50, 216, 191) ; /* Sets the background color of the buttons */ 
    color: white; /* Sets the color of the text */
    border: none; /* Removes the border */
    padding: 10px; /* Adds padding to the buttons */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the buttons */
    font-size: 15px; /* Sets the font size of the text */
}

.nav-buttons button:hover{
    background-color: rgb(5, 90, 90) ; /* Sets the background color of the buttons when hovering */
}

/* Hamburger menu styling */
script, .hamburger-menu{
    display: none; /* Hides the hamburger menu by default */
}

/* Styling for the main heading in the form section */
.form-head h1{
    color: #0f80f9; /* Sets the text color to a shade of blue */ 
    border-bottom: 2px solid #0f80f9; /* Adds a border to the bottom of the heading */
    padding-bottom: 50px; /* Adds padding to the bottom of the heading */  
    margin-top: 15px; /* Adds margin to the top of the heading */   
    text-align: center; /* Centers the heading text */
}

/* Styling for the form container */
.form{
    max-width: 800px; /* Sets the maximum width of the form */  
    margin: 100px auto; /* Centers the form */
    background-color: white; /* Sets the background color of the form */
    padding: 20px; /* Adds padding to the form */
    box-shadow: 0px 0px 10px black; /* Adds a shadow to the form */
}

/* Styling for each section inside the form */
form section{
    margin-bottom: 30px; /* Adds margin to the bottom of the sections */ 
}

/* Styling for subheadings inside the form sections */
form section h2{
    color: #0f80f9; /* Sets the text color to a shade of blue */
    border-bottom: 2px solid #0f80f9; /* Adds a border to the bottom of the subheadings */
    padding-bottom: 10px; /* Adds padding to the bottom of the subheadings */
    margin-bottom: 15px; /* Adds margin to the bottom of the subheadings */
}

/* Styling for label elements in the form */
label{
    display: block; /* Uses flexbox layout for the label elements */
    margin-bottom: 5px; /* Adds margin to the bottom of the label elements */
    font-weight: bold; /* Sets the font weight of the text */
}

/* Styling for input fields, select dropdowns, and textarea elements */
input, select, textarea{
    width: 50%; /* Sets the width of the input fields */
    padding: 10px; /* Adds padding to the input fields */
    border-radius: 5px; /* Rounds the corners of the input fields */
    border: 1px solid #ddd; /* Adds a border to the input fields */
    margin-bottom: 15px; /* Adds margin to the bottom of the input fields */
    font-size: 16px; /* Sets the font size of the text */
}

/* Styling for checkbox elements */
input[type="checkbox"]{
    width: auto; /* Sets the width of the checkbox elements */ 
    margin-right: 10px; /* Adds margin to the right of the checkbox elements */
}

/* Styling for captcha element */
.captcha{
    display: flex; /* Uses flexbox layout for the captcha */
    align-items: center; /* Aligns the captcha vertically */
}

/* Styling for button elements */
button{
    background-color: #0f80f9; /* Sets the background color of the button elements */   
    color: white; /* Sets the text color of the button elements */ 
    border: none; /* Removes the border of the button elements */
    padding: 15px 20px; /* Adds padding to the button elements */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button elements */
    font-size: 16px; /* Sets the font size of the text */
}

/* Styling for buttons with the class 'btn' */
.btn{
    background-color: #0f80f9; /* Sets the background color of the button elements */
    color: white; /* Sets the text color of the button elements */ 
    border: none; /* Removes the border of the button elements */ 
    padding: 15px 20px; /* Adds padding to the button elements */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button elements */
    font-size: 16px; /* Sets the font size of the text */
    border-radius: 6px; /* Rounds the corners of the button elements */
}

/* Styling for button hover effect */
button:hover{
    background-color: #0059b3; /* Sets the background color of the button elements when hovering */
}

/* Styling for footer */
footer{
    width: 100%; /* Sets the width of the footer */
    border-top: 1px solid #000; /* Adds a border to the top of the footer */
    padding:20px; /* Adds padding to the footer */
    background-color: #f8f8f8; /* Sets the background color of the footer */
    font-family: Arial, sans-serif; /* Sets the font family of the text */
    color: #333; /* Sets the text color of the footer */
    background-color: #0f80f9; /* Sets the background color of the footer */
}

/* Footer logo container */
.logo-footer{
    display: flex; /* Uses flexbox layout for the logo and text */
    align-items: center; /* Aligns the logo and text vertically */
    justify-content: center; /* Centers the logo and text */
    flex-grow: 1; /* Sets the flex-grow property to 1 */
}

.logo-image{
    margin-right: 10px; /* Adds margin to the right of the logo */ 
    max-height: 35px; /* Sets the maximum height of the logo */
}

/* Footer container */
.footer-container{
    background-color: #0f80f9; /* Sets the background color of the footer */
    display: flex; /* Uses flexbox layout for the footer */
    justify-content: space-between; /* Distributes the footer items evenly */
    align-items: center; /* Aligns the footer items vertically */
    max-width: 1200px; /* Sets the maximum width of the footer */
    padding-left: 250px; /* Adds padding to the left of the footer */
    padding-right: 250px; /* Adds padding to the right of the footer */
}

/* Footer left section styling */
.footer-left{
    font-size: 20px; /* Sets the font size of the text */
    font-weight: bold; /* Sets the font weight of the text */
    color: white; /* Sets the text color of the text */
    letter-spacing: 2px; /* Adds letter spacing to the text */
    border: 3px solid black; /* Adds a border to the text */
    padding: 8px; /* Adds padding to the text */
    background-color: #013c7b; /* Sets the background color of the text */
    
}

/* Footer box styling for text alignment */
.logo-box{
    text-align: center; /* Centers the text */
    white-space: normal; /* Sets the white-space property to normal */
}

/* Footer right section styling */
.footer-right h4{
    font-size: 18px; /* Sets the font size of the text */
    color: white; /* Sets the text color of the text */
    margin-bottom: 10px;  /* Adds margin to the bottom of the text */
}

.footer-right ul li{
    margin-bottom: 5px; /* Adds margin to the bottom of the text */
}


.footer-right ul li a{
    text-decoration: none; /* Removes the underline from the text */
    color: white; /* Sets the text color of the text */
    font-size: 16px; /* Sets the font size of the text */
}

.footer-right ul li a:hover{
    color: rgb(210, 207, 207); /* Sets the hover color of the text */
}

/* Footer hover effect */
.footer:hover{
    background-color: #f0f0f0; /* Sets the background color on hover */
}

/* General mobile styles for small screens */
@media screen and (max-width: 768px) {

    /* Adjust body layout for mobile */
    html{
        overflow-x: hidden; /* Hide horizontal scrolling */
    
    }
    /* Make the header logo and h1 text stack vertically */
    .header {
        flex-direction: column; /* Stack header items vertically */
        height: auto; /* Set header height to auto */
        text-align: center; /* Center align header items */
    }

    .logo-item h1 {
        font-size: 24px; /* Set logo font size */
    }

    .top-right, .top-left {
        position: static; /* Remove top-right and top-left positioning */
        margin: 0; /* Remove margin from top-right and top-left */
        text-align: center; /* Center align top-right and top-left */
        padding: 5px; /* Add padding to top-right and top-left */
        border: none; /* Remove border */
        background-color: #0f80f9; /* Set background color */
        display: none; /* Hide top-right and top-left on mobile */
    }

    .hamburger-menu, .menu-link {
        display: flex; /* Show hamburger icon in mobile */
        align-items: center; /* Center the hamburger icon vertically */
        font-size: 24px; /* Set the font size of the hamburger icon */
        margin-left: auto; /* Push to the right */
        cursor: pointer; /* Change cursor to pointer */   
        padding-right: 15px; /* Add padding to the right */
        background-color: #007bff; /* Set the background color */
    }

    /* Initially hide the navigation buttons in mobile view */
    .nav-buttons {
        display: none; /* Keep the nav menu hidden by default */
        flex-direction: column; /* Stack the navigation buttons vertically */
        align-items: center;  /* Center the navigation buttons horizontally */
        width: 100%; /* Set the width to 100% */
    }
    .nav-buttons.active {
        display: flex; /* Show the nav menu when active */
    }

    /* Style for navigation buttons */
    .nav-buttons button {
        width: 100%; /* Full width for each button */
        margin-bottom: 5px; /* Add margin to the bottom of each button */
        font-size: 14px; /* Set the font size for each button */
    }

    /* Full width for inputs on forms */
    input, select, textarea {
        width: 50%; /* Set input width to 50% */
    }

    /* Make form take full width on mobile */
    .form {
        margin: 20px; /* Add margin to form */
        padding: 15px; /* Add padding to form */
    }

    /* Footer Layout */
    footer {
        padding: 10px; /* Add padding to footer */
    }
    
    .footer-container {
        flex-direction: column;  /* Stack items vertically on mobile */
        justify-content: flex-start;  /* Align items at the start of the column */
        align-items: flex-start;  /* Align items to the left */
        padding-left: 10px;  /* Add padding to the left */
    }
    
    .footer-left{
        display: flex;  /* Add display flex */
        flex-direction: column;  /* Stack items vertically */
        align-items: flex-start;  /* Align items to the left */
            
    }
    
    .footer-right {
        text-align: left;  /* Ensure text aligns to the left */
        width: 100%;  /* Full width for both sections */
    }
    
    .footer-right ul {
        padding-left: 0;  /* Remove any default list padding */
    }
    
    .footer-links{
        margin-left: 18px;  /* Add margin to the left */
    }
    
    .logo-footer {
        display: flex;  /* Add display flex */
        align-items: center;  /* Keep logo text and image aligned */
    }
    
    .logo-image {
        max-width: 80px;  /* Adjust logo size */
    }
    
    .logo-box {
        margin-left: 10px;  /* Space between logo and text */
    }
}
